.footer {
    background: url("../assets/bg.png");
    min-height: 50vh;
    max-width: 100%;
    padding: 4rem 0;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .footer-content{
    padding: 3rem;
    justify-content: center;
    align-items: center;
   
    
  }

  .highlight {
    margin-left: 5px;
    color: #ff007a;
  }
  .github-image{
    padding: 1rem;
    width: 6%;
    height: 8%;
  }
  
  .github-link {
    color: white;
    text-decoration: none;
  }
  